:root{
	--blanco: #ffffff;
	--oscuro: #04080F;
	--primario: #0F52BA;
	--secundario: #A1C6EA;
	--azul_royal: #111E6C;
	--background: #DAE3E5;
}

html{
	font-size: 62.5%;
	background: var(--blanco);
	box-sizing: border-box;
}
*, *:before, *:after{
	box-sizing: inherit;
}

body{
	font-size: 16px;
	font-family: 'Yusei Magic', sans-serif;
	font-weight: normal;
}

.titulo{
	text-align: center;
	font-size: 3.8rem;
	color: var(--primario);
}

.titulo > span{
	font-size: 2rem;

}

.contenedor{
	max-width: 120rem;
	margin: 0 auto;

}


.navegacion-principal{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

@media(min-width: 768px){
	.navegacion-principal{
		flex-direction: row;
	}
}

.nav-bg{
	background-color: var(--secundario);	
}

.navegacion-principal a{
	display: block;
	text-align: center;
	color: var(--blanco);
	text-decoration:none;
	font-size: 2rem;
	font-weight: 700;
	padding: 1rem;	
}

.navegacion-principal a:hover{
	background: var(--primario);
	color: var(--oscuro)

}

.hero{

	background-image: url(../img/img_fondo_index.jpg);
	background-repeat: no-repeat;
	background-size: cover; 
	height: 600px ;
	padding: 20px;
}

.contenido-hero{
	color: var(--blanco);
	background: var(--secundario);
	background-color: transparent;

}

@media(min-width: ) {
	
}

@media() {
	
}